.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: top;
  height: 80px;
  right: 0;    
  background: var(--color-5);
  grid-area: menu-top;
}

.menu-top ul li {
  display: flex;
  align-self: center;
  margin: 10px;
}

.menu-top label {
  margin-left: 10px;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-7);
}

.menu-top ul li label {
  margin-left: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.menu-top-search {
  display: flex;  
  justify-content: center;
}
.menu-top-search-input {
  display: flex;
  overflow: hidden;
  align-items: center;
  color: var(--color-3);
  border-radius: 25px;
  border-color: transparent;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: var(--color-0);
  margin: 5px;
  padding: 10px;
  height: 40px;
}

.menu-top-search-input input {
  width: 400px;
  border-color: transparent;
  background-color: transparent;
  background: transparent !important;
  font-size: 1.4rem;
  color: var(--color-7);
}

.menu-top-bar {   
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
  height: 30px;
  width: 30px;
  color:var(--color-0);
  background-color: var(--color-6);  
  border-radius: 3px;
}
