:root {   

  --color-0: #27282f;
  --color-1: #1d1e24;
  --color-2: #f6f8fa;
  --color-3: #3826BC;
  --color-4: #55B68A;
  --color-5: #232323;
  --color-6: #bb74f2;
  --color-7: #a7b1c2;
  --color-8: #e41a53;
  --color-9: #55B68A;
  --color-10: #2326225e


}

